In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#reading data
movies_df = pd.read_csv('../../Dataset/ml-latest-small/movies.csv')
ratings_df = pd.read_csv('../../Dataset/ml-latest-small/ratings.csv')

CREATING USER TRAINING DATA

In [3]:
#ratings data (is going to be user data later)
ratings_df.head()
#drop timestamp column
ratings_df = ratings_df.drop(columns=['timestamp'])

In [4]:
ratings_df

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [5]:
genres = movies_df['genres'].str.get_dummies('|')
genres

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9738,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9739,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9740,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
#merging movieid's with their genres
movies_with_genres = pd.concat([movies_df,genres], axis=1)
movies_with_genres

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,Flint (2017),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
user_df = pd.merge(ratings_df, movies_with_genres, left_on='movieId', right_on='movieId')
user_df.drop(columns=['title','genres','(no genres listed)'], axis=1, inplace=True)
user_df.sort_values(by=['userId'])

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,4.0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12117,1,2389,2.0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
12126,1,2395,5.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12182,1,2406,4.0,1,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
776,1,70,3.0,1,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84152,610,51709,5.0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
26937,610,589,5.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
69808,610,66097,4.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
69820,610,71464,4.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
100835,610,163981,3.5,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [8]:
#how many ratings each user gave as a dataframe
rating_count = user_df.pivot_table(index=['userId'], aggfunc='size')
rating_count = pd.DataFrame(rating_count)
rating_count.columns = ['rating count']
rating_count['userId'] = rating_count.index
rating_count.index.name = None
rating_count

     rating count  userId
1             232       1
2              29       2
3              39       3
4             216       4
5              44       5
..            ...     ...
606          1115     606
607           187     607
608           831     608
609            37     609
610          1302     610

[610 rows x 2 columns]

In [9]:
#merge rating count with user_df
user_df = pd.merge(user_df, rating_count, left_on='userId', right_on='userId')
user_df.sort_values(by=['userId'])

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating count
0,1,1,4.0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,232
147,1,2329,5.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,232
148,1,2338,2.0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,232
150,1,2366,4.0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,232
151,1,2387,5.0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63140,610,48385,4.5,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1302
63139,610,44761,4.5,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1302
63138,610,44195,3.5,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1302
63164,610,3997,1.0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1302
62779,610,4148,3.5,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1302

In [10]:
#getting column names for the for loop below
columnnames = user_df.columns
columnnames

Index(['userId', 'movieId', 'rating', 'Action', 'Adventure', 'Animation',
       'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
       'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western', 'rating count'],
      dtype='object')

In [11]:
#multiplying every rating by genres to find average rating each user gave for each genre
for i in range(3,22):
    user_df[columnnames[i]] = user_df[columnnames[i]] * user_df['rating']
user_df.sort_values('userId', inplace=True)
user_df

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating count
0,1,1,4.0,0.0,4.0,4.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,232
147,1,2329,5.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,232
148,1,2338,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,232
150,1,2366,4.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,232
151,1,2387,5.0,0.0,0.0,0.0,0.0,5.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63140,610,48385,4.5,0.0,0.0,0.0,0.0,4.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1302
63139,610,44761,4.5,0.0,0.0,0.0,0.0,0.0,4.5,0.0,...,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,1302
63138,610,44195,3.5,0.0,0.0,0.0,0.0,3.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1302
63164,610,3997,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1302
62779,610,4148,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.5,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,1302

In [12]:
#replacing zero values with nan because we don't want zero value counts to affect average
user_df.replace(0, np.nan, inplace=True)
#grouping by user id so it stays the same
grouped = user_df.groupby(['userId'])

def sum_and_divide(x):
    return x.sum() / x.notnull().sum()

user_data_with_average_ratings = grouped.apply(sum_and_divide)
user_data_with_average_ratings

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating count
userId,,,,,,,,,,,,,,,,,,,,,
1,1.0,1854.603448,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,NaN,...,3.470588,NaN,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714,232.0
2,2.0,70350.275862,3.948276,3.954545,4.166667,NaN,NaN,4.000000,3.800000,4.333333,...,3.000000,3.750000,NaN,4.000000,4.500000,3.875000,3.700000,4.500000,3.500000,29.0
3,3.0,7058.384615,2.435897,3.571429,2.727273,0.500000,0.500000,1.000000,0.500000,NaN,...,4.687500,NaN,0.500000,5.000000,0.500000,4.200000,4.142857,0.500000,NaN,39.0
4,4.0,1982.129630,3.555556,3.320000,3.655172,4.000000,3.800000,3.509615,3.814815,4.000000,...,4.250000,3.000000,4.000000,3.478261,3.379310,2.833333,3.552632,3.571429,3.800000,216.0
5,5.0,343.840909,3.636364,3.111111,3.250000,4.333333,4.111111,3.466667,3.833333,NaN,...,3.000000,3.666667,4.400000,4.000000,3.090909,2.500000,3.555556,3.333333,3.000000,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,606.0,9692.197309,3.657399,3.178808,3.503401,3.714286,3.448980,3.565321,3.654135,3.800000,...,3.346154,3.062500,3.727273,3.791209,3.740845,3.556962,3.525126,3.792308,3.411765,1115.0
607,607.0,1860.636364,3.786096,3.722222,3.466667,3.333333,3.421053,3.327273,3.814815,NaN,...,4.114286,5.000000,3.600000,4.647059,3.517241,3.250000,4.114754,4.166667,4.000000,187.0
608,608.0,4502.605295,3.134176,3.330325,3.220994,3.118182,2.460227,2.736620,3.613014,3.000000,...,3.319588,4.000000,2.757576,3.550725,2.886792,3.296407,3.536680,3.578947,2.636364,831.0
609,609.0,483.162162,3.270270,3.090909,3.200000,3.000000,3.000000,3.285714,3.500000,3.000000,...,3.500000,3.000000,NaN,NaN,3.200000,3.000000,3.285714,3.500000,4.000000,37.0
610,610.0,49590.231183,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.200000,...,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424,1302.0

In [13]:
#rewinding the zero values
user_data_with_average_ratings.replace(np.nan, 0, inplace=True)
#dropping movieid column because we don't need it
user_data_with_average_ratings.drop(columns='movieId', axis=1, inplace=True)
user_data_with_average_ratings

,userId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating count
userId,,,,,,,,,,,,,,,,,,,,,
1,1.0,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.000000,4.529412,...,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714,232.0
2,2.0,3.948276,3.954545,4.166667,0.000000,0.000000,4.000000,3.800000,4.333333,3.882353,...,3.000000,3.750000,0.000000,4.000000,4.500000,3.875000,3.700000,4.500000,3.500000,29.0
3,3.0,2.435897,3.571429,2.727273,0.500000,0.500000,1.000000,0.500000,0.000000,0.750000,...,4.687500,0.000000,0.500000,5.000000,0.500000,4.200000,4.142857,0.500000,0.000000,39.0
4,4.0,3.555556,3.320000,3.655172,4.000000,3.800000,3.509615,3.814815,4.000000,3.483333,...,4.250000,3.000000,4.000000,3.478261,3.379310,2.833333,3.552632,3.571429,3.800000,216.0
5,5.0,3.636364,3.111111,3.250000,4.333333,4.111111,3.466667,3.833333,0.000000,3.800000,...,3.000000,3.666667,4.400000,4.000000,3.090909,2.500000,3.555556,3.333333,3.000000,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,606.0,3.657399,3.178808,3.503401,3.714286,3.448980,3.565321,3.654135,3.800000,3.787966,...,3.346154,3.062500,3.727273,3.791209,3.740845,3.556962,3.525126,3.792308,3.411765,1115.0
607,607.0,3.786096,3.722222,3.466667,3.333333,3.421053,3.327273,3.814815,0.000000,4.012195,...,4.114286,5.000000,3.600000,4.647059,3.517241,3.250000,4.114754,4.166667,4.000000,187.0
608,608.0,3.134176,3.330325,3.220994,3.118182,2.460227,2.736620,3.613014,3.000000,3.437500,...,3.319588,4.000000,2.757576,3.550725,2.886792,3.296407,3.536680,3.578947,2.636364,831.0
609,609.0,3.270270,3.090909,3.200000,3.000000,3.000000,3.285714,3.500000,3.000000,3.368421,...,3.500000,3.000000,0.000000,0.000000,3.200000,3.000000,3.285714,3.500000,4.000000,37.0
610,610.0,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.200000,3.874739,...,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424,1302.0

In [14]:
#get rating count a list for repeating process
rating_count_as_list = user_data_with_average_ratings["rating count"].values.tolist()
rating_count_as_list

[232.0,
 29.0,
 39.0,
 216.0,
 44.0,
 314.0,
 152.0,
 47.0,
 46.0,
 140.0,
 64.0,
 32.0,
 31.0,
 48.0,
 135.0,
 98.0,
 105.0,
 502.0,
 703.0,
 242.0,
 443.0,
 119.0,
 121.0,
 110.0,
 26.0,
 21.0,
 135.0,
 570.0,
 81.0,
 34.0,
 50.0,
 102.0,
 156.0,
 86.0,
 23.0,
 60.0,
 21.0,
 78.0,
 100.0,
 103.0,
 217.0,
 440.0,
 114.0,
 48.0,
 399.0,
 42.0,
 140.0,
 33.0,
 21.0,
 310.0,
 359.0,
 130.0,
 20.0,
 33.0,
 25.0,
 46.0,
 476.0,
 112.0,
 107.0,
 22.0,
 39.0,
 366.0,
 271.0,
 517.0,
 34.0,
 345.0,
 36.0,
 1260.0,
 46.0,
 62.0,
 35.0,
 45.0,
 210.0,
 177.0,
 69.0,
 119.0,
 29.0,
 61.0,
 64.0,
 167.0,
 26.0,
 227.0,
 118.0,
 293.0,
 34.0,
 70.0,
 21.0,
 56.0,
 518.0,
 54.0,
 575.0,
 24.0,
 97.0,
 56.0,
 168.0,
 78.0,
 36.0,
 92.0,
 53.0,
 148.0,
 61.0,
 56.0,
 377.0,
 273.0,
 722.0,
 33.0,
 34.0,
 76.0,
 127.0,
 51.0,
 646.0,
 65.0,
 150.0,
 31.0,
 112.0,
 87.0,
 165.0,
 22.0,
 215.0,
 22.0,
 58.0,
 292.0,
 56.0,
 50.0,
 360.0,
 38.0,
 22.0,
 33.0,
 140.0,
 28.0,
 69.0,
 347.0,
 35.0,
 35.0,
 279.0,
 111.0,
 141.0,
 22.0,
 194.0,
 608.0,
 168.0,
 38.0,
 71.0,
 128.0,
 23.0,
 32.0,
 20.0,
 48.0,
 58.0,
 26.0,
 59.0,
 63.0,
 179.0,
 34.0,
 46.0,
 398.0,
 21.0,
 26.0,
 97.0,
 437.0,
 39.0,
 38.0,
 23.0,
 36.0,
 65.0,
 190.0,
 173.0,
 94.0,
 269.0,
 50.0,
 82.0,
 26.0,
 25.0,
 67.0,
 24.0,
 36.0,
 904.0,
 77.0,
 69.0,
 24.0,
 118.0,
 977.0,
 57.0,
 134.0,
 47.0,
 226.0,
 258.0,
 48.0,
 20.0,
 66.0,
 85.0,
 22.0,
 35.0,
 20.0,
 187.0,
 32.0,
 35.0,
 230.0,
 363.0,
 334.0,
 110.0,
 403.0,
 45.0,
 83.0,
 27.0,
 25.0,
 20.0,
 26.0,
 35.0,
 138.0,
 89.0,
 248.0,
 84.0,
 22.0,
 98.0,
 164.0,
 613.0,
 26.0,
 528.0,
 207.0,
 331.0,
 250.0,
 75.0,
 54.0,
 75.0,
 507.0,
 94.0,
 25.0,
 65.0,
 139.0,
 24.0,
 862.0,
 150.0,
 202.0,
 65.0,
 30.0,
 50.0,
 44.0,
 279.0,
 128.0,
 76.0,
 35.0,
 36.0,
 93.0,
 21.0,
 204.0,
 150.0,
 51.0,
 1046.0,
 27.0,
 23.0,
 38.0,
 47.0,
 127.0,
 44.0,
 174.0,
 20.0,
 25.0,
 29.0,
 152.0,
 53.0,
 57.0,
 210.0,
 56.0,
 163.0,
 180.0,
 57.0,
 129.0,
 29.0,
 40.0,
 43.0,
 31.0,
 55.0,
 1346.0,
 403.0,
 41.0,
 28.0,
 20.0,
 176.0,
 196.0,
 21.0,
 237.0,
 35.0,
 88.0,
 36.0,
 106.0,
 152.0,
 1055.0,
 24.0,
 267.0,
 31.0,
 446.0,
 21.0,
 437.0,
 41.0,
 27.0,
 72.0,
 939.0,
 23.0,
 32.0,
 114.0,
 32.0,
 53.0,
 216.0,
 677.0,
 112.0,
 975.0,
 115.0,
 103.0,
 64.0,
 28.0,
 223.0,
 340.0,
 128.0,
 33.0,
 53.0,
 189.0,
 879.0,
 35.0,
 20.0,
 56.0,
 107.0,
 98.0,
 21.0,
 270.0,
 152.0,
 48.0,
 255.0,
 23.0,
 247.0,
 168.0,
 267.0,
 25.0,
 154.0,
 28.0,
 56.0,
 77.0,
 39.0,
 371.0,
 28.0,
 52.0,
 66.0,
 59.0,
 69.0,
 62.0,
 164.0,
 45.0,
 55.0,
 37.0,
 40.0,
 141.0,
 294.0,
 90.0,
 226.0,
 26.0,
 289.0,
 383.0,
 41.0,
 74.0,
 25.0,
 97.0,
 109.0,
 30.0,
 21.0,
 277.0,
 31.0,
 185.0,
 469.0,
 129.0,
 93.0,
 41.0,
 236.0,
 100.0,
 33.0,
 33.0,
 133.0,
 131.0,
 48.0,
 36.0,
 1218.0,
 474.0,
 291.0,
 34.0,
 70.0,
 201.0,
 68.0,
 1027.0,
 29.0,
 34.0,
 81.0,
 386.0,
 25.0,
 123.0,
 23.0,
 61.0,
 28.0,
 23.0,
 46.0,
 36.0,
 43.0,
 72.0,
 48.0,
 34.0,
 60.0,
 120.0,
 20.0,
 22.0,
 141.0,
 126.0,
 167.0,
 127.0,
 102.0,
 56.0,
 2698.0,
 94.0,
 51.0,
 67.0,
 93.0,
 155.0,
 141.0,
 37.0,
 93.0,
 23.0,
 138.0,
 306.0,
 88.0,
 84.0,
 300.0,
 58.0,
 58.0,
 20.0,
 260.0,
 22.0,
 233.0,
 42.0,
 106.0,
 122.0,
 635.0,
 21.0,
 33.0,
 45.0,
 20.0,
 37.0,
 42.0,
 77.0,
 84.0,
 78.0,
 1864.0,
 38.0,
 51.0,
 34.0,
 202.0,
 311.0,
 45.0,
 57.0,
 43.0,
 50.0,
 59.0,
 26.0,
 82.0,
 27.0,
 455.0,
 33.0,
 138.0,
 115.0,
 113.0,
 22.0,
 33.0,
 465.0,
 80.0,
 28.0,
 29.0,
 37.0,
 2108.0,
 155.0,
 69.0,
 600.0,
 22.0,
 181.0,
 836.0,
 31.0,
 128.0,
 728.0,
 275.0,
 23.0,
 56.0,
 56.0,
 111.0,
 648.0,
 113.0,
 64.0,
 121.0,
 61.0,
 22.0,
 265.0,
 29.0,
 51.0,
 35.0,
 27.0,
 86.0,
 45.0,
 35.0,
 95.0,
 87.0,
 31.0,
 42.0,
 21.0,
 24.0,
 467.0,
 108.0,
 52.0,
 50.0,
 32.0,
 397.0,
 26.0,
 26.0,
 400.0,
 24.0,
 26.0,
 186.0,
 40.0,
 200.0,
 75.0,
 131.0,
 500.0,
 58.0,
 167.0,
 73.0,
 25.0,
 27.0,
 22.0,
 50.0,
 38.0,
 520.0,
 30.0,
 40.0,
 47.0,
 37.0,
 38.0,
 42.0,
 87.0,
 113.0,
 76.0,
 22.0,
 23.0,
 64.0,
 21.0,
 26.0,
 21.0,
 28.0,
 123.0,
 188.0,
 83.0,
 89.0,
 578.0,
 32.0,
 27.0,
 56.0,
 140.0,
 458.0,
 505.0,
 231.0,
 213.0,
 157.0,
 29.0,
 74.0,
 385.0,
 23.0,
 20.0,
 191.0,
 112.0,
 155.0,
 299.0,
 23.0,
 36.0,
 20.0,
 161.0,
 27.0,
 73.0,
 436.0,
 40.0,
 56.0,
 56.0,
 83.0,
 61.0,
 208.0,
 165.0,
 56.0,
 40.0,
 728.0,
 54.0,
 94.0,
 103.0,
 232.0,
 20.0,
 411.0,
 443.0,
 21.0,
 2478.0,
 763.0,
 101.0,
 135.0,
 943.0,
 100.0,
 221.0,
 1115.0,
 187.0,
 831.0,
 37.0,
 1302.0]

In [15]:
#repeat every column by userid according to the the users rating counts
repeated_user_df = user_data_with_average_ratings.loc[user_data_with_average_ratings.index.repeat(rating_count_as_list)]
repeated_user_df.rename(columns={'rating': 'average rating'}, inplace=True)
repeated_user_df

,userId,average rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating count
userId,,,,,,,,,,,,,,,,,,,,,
1,1.0,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,4.529412,...,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714,232.0
1,1.0,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,4.529412,...,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714,232.0
1,1.0,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,4.529412,...,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714,232.0
1,1.0,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,4.529412,...,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714,232.0
1,1.0,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,4.529412,...,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714,232.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,610.0,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,3.874739,...,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424,1302.0
610,610.0,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,3.874739,...,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424,1302.0
610,610.0,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,3.874739,...,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424,1302.0
610,610.0,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,3.874739,...,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424,1302.0
610,610.0,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,3.874739,...,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424,1302.0

In [16]:
#reposition the columns beacuse it is easier to read
new_column_order = ['userId', 'rating count', 'average rating', 'Action', 'Adventure', 'Animation',
       'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
       'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western']
repeated_user_df = repeated_user_df.reindex(columns=new_column_order)
repeated_user_df

,userId,rating count,average rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
userId,,,,,,,,,,,,,,,,,,,,,
1,1.0,232.0,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,...,5.00,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714
1,1.0,232.0,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,...,5.00,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714
1,1.0,232.0,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,...,5.00,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714
1,1.0,232.0,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,...,5.00,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714
1,1.0,232.0,4.366379,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,...,5.00,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,610.0,1302.0,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,...,4.35,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424
610,610.0,1302.0,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,...,4.35,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424
610,610.0,1302.0,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,...,4.35,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424
610,610.0,1302.0,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,...,4.35,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424
610,610.0,1302.0,3.688556,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,...,4.35,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424

In [17]:
#creating x user training data (dropping userid, ratingcount, average rating)
x_user_train = repeated_user_df.drop(['userId', 'rating count', 'average rating'], axis=1)
x_user_train

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
userId,,,,,,,,,,,,,,,,,,,
1,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,4.529412,4.297872,5.00,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714
1,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,4.529412,4.297872,5.00,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714
1,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,4.529412,4.297872,5.00,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714
1,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,4.529412,4.297872,5.00,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714
1,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,0.0,4.529412,4.297872,5.00,3.470588,0.000000,4.681818,4.166667,4.307692,4.225000,4.145455,4.500000,4.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,3.874739,3.592715,4.35,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424
610,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,3.874739,3.592715,4.35,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424
610,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,3.874739,3.592715,4.35,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424
610,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,3.874739,3.592715,4.35,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424
610,3.600580,3.705993,3.901515,3.651786,3.731144,3.800366,4.2,3.874739,3.592715,4.35,3.506601,3.628049,3.928571,3.766667,3.731092,3.659363,3.573529,3.776596,3.742424

CREATING USER TEST DATA

In [18]:
#y train should contain movie ratings
y_train_user = user_df['rating']
y_train_user

0        4.0
147      5.0
148      2.0
150      4.0
151      5.0
        ...
63140    4.5
63139    4.5
63138    3.5
63164    1.0
62779    3.5
Name: rating, Length: 100836, dtype: float64

CREATING ITEM TRAINING DATA

In [19]:
#checking ratings data. we want it to be like movieId | year | average rating | (genres)
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [20]:
#subtracting the year from the movie title 
pattern = '\((\d{4})\)'
movies_df['year'] = movies_df.title.str.extract(pattern, expand=False)
movies_df.drop(columns=['title','genres'], axis=1, inplace=True)

In [21]:
movies_df

      movieId  year
0           1  1995
1           2  1995
2           3  1995
3           4  1995
4           5  1995
...       ...   ...
9737   193581  2017
9738   193583  2017
9739   193585  2017
9740   193587  2018
9741   193609  1991

[9742 rows x 2 columns]

In [22]:

ratings_df.sort_values(by=['rating'])

       userId  movieId  rating
3752       22    53519     0.5
60861     393     5445     0.5
47025     307     2017     0.5
22446     153     1198     0.5
60865     393     5902     0.5
...       ...      ...     ...
90260     587       50     5.0
90261     587       58     5.0
17061     108     5303     5.0
90266     587      236     5.0
81530     516     4429     5.0

[100836 rows x 3 columns]

In [23]:
#finding how many unique movieId's
ratings_df['movieId']. nunique()

9724

In [24]:
#finding average rating for each movie
grouped_movies = user_df.groupby(['movieId'])

movie_ave_rating = grouped_movies.apply(sum_and_divide)
movie_ave_rating.drop(columns=['userId', 'Action', 'Adventure', 'Animation',
       'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
       'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western', 'rating count'], axis= 1, inplace=True)
movie_ave_rating.rename(columns={"movieId": "movieId", "rating": "average rating"}, inplace=True)
movie_ave_rating.index.name = None
movie_ave_rating

In [ ]:
#merge average rating with movies_df
movies_df = pd.merge(movies_df, movie_ave_rating)
#x_item_train = pd.merge(movies_df[['movieId', 'year']], movie_ave_rating[['average rating']], on='movieId')
movies_df

      movieId  year  average rating
0           1  1995        3.920930
1           2  1995        3.431818
2           3  1995        3.259615
3           4  1995        2.357143
4           5  1995        3.071429
...       ...   ...             ...
9719   193581  2017        4.000000
9720   193583  2017        3.500000
9721   193585  2017        3.500000
9722   193587  2018        3.500000
9723   193609  1991        4.000000

[9724 rows x 3 columns]

In [ ]:
movies_with_genres

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,Flint (2017),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
user_df

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating count
0,1,1,4.0,NaN,4.0,4.0,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232
147,1,2329,5.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232
148,1,2338,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,232
150,1,2366,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232
151,1,2387,5.0,NaN,NaN,NaN,NaN,5.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63140,610,48385,4.5,NaN,NaN,NaN,NaN,4.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1302
63139,610,44761,4.5,NaN,NaN,NaN,NaN,NaN,4.5,NaN,...,NaN,NaN,NaN,4.5,NaN,NaN,NaN,NaN,NaN,1302
63138,610,44195,3.5,NaN,NaN,NaN,NaN,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1302
63164,610,3997,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1302
62779,610,4148,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,1302

In [ ]:
#creating not repeated item dataframe
x_item_train_not_repeated = pd.merge(movies_df,movies_with_genres)
x_item_train_not_repeated.drop(columns=['title', 'genres', '(no genres listed)'], axis= 1, inplace=True)
x_item_train_not_repeated

,movieId,year,average rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1995,3.920930,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1995,3.431818,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1995,3.259615,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,1995,2.357143,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,1995,3.071429,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,193581,2017,4.000000,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9720,193583,2017,3.500000,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9721,193585,2017,3.500000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9722,193587,2018,3.500000,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9723,193609,1991,4.000000,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
user_df

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating count
0,1,1,4.0,NaN,4.0,4.0,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232
147,1,2329,5.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232
148,1,2338,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,232
150,1,2366,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232
151,1,2387,5.0,NaN,NaN,NaN,NaN,5.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63140,610,48385,4.5,NaN,NaN,NaN,NaN,4.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1302
63139,610,44761,4.5,NaN,NaN,NaN,NaN,NaN,4.5,NaN,...,NaN,NaN,NaN,4.5,NaN,NaN,NaN,NaN,NaN,1302
63138,610,44195,3.5,NaN,NaN,NaN,NaN,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1302
63164,610,3997,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1302
62779,610,4148,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,1302

In [ ]:
#we need to merge according to movieid order in user_df. using locate to get the order of the movieids
y_train_sort = user_df.loc[:, ['movieId', 'rating']]
y_train_sort

       movieId  rating
0            1     4.0
147       2329     5.0
148       2338     2.0
150       2366     4.0
151       2387     5.0
...        ...     ...
63140    48385     4.5
63139    44761     4.5
63138    44195     3.5
63164     3997     1.0
62779     4148     3.5

[100836 rows x 2 columns]

In [ ]:
#merging
x_item_train_repeated = pd.merge(y_train_sort, x_item_train_not_repeated, on='movieId')
x_item_train_repeated.drop(columns=['rating'],inplace=True)
x_item_train_repeated

,movieId,year,average rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1995,3.92093,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1995,3.92093,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1995,3.92093,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1995,3.92093,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1995,3.92093,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,55492,2006,4.00000,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
100832,56620,2007,3.00000,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
100833,57421,2006,4.00000,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
100834,57637,2007,3.50000,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,1,0,0
100835,58964,2007,4.00000,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [ ]:
#dropping moiveid because it's not gonna be needed
x_train_item = x_item_train_repeated.drop(columns=['movieId'])
x_train_item

,year,average rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1995,3.92093,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1995,3.92093,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1995,3.92093,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1995,3.92093,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1995,3.92093,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,2006,4.00000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
100832,2007,3.00000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
100833,2006,4.00000,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
100834,2007,3.50000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,1,0,0
100835,2007,4.00000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [ ]:
x_train_item.to_csv('./csv/x_train_item.csv', index=False, header=False)
x_user_train.to_csv('./csv/x_train_user.csv', index=False, header=False)
y_train_user.to_csv('./csv/y_train.csv', index=False, header=False)

In [ ]:
x_item_train_not_repeated.to_csv('./csv/item_vecs.csv', index=False, header=False)